nav(class="navbar navbar-expand-sm navbar-light sticky-top")
    ul(class="navbar-nav")
        li(class="nav-item")
            a(class="nav-link active px-4" href="/") home
        li(class="nav-item")
            a(class="nav-link active px-4" href="/products") songs
        li(class="nav-item")
            a(class="nav-link active px-4" href="#") contact us
        div(class="position-absolute top-right")
            button(type="button" class="btn btn-primary") signup/login