extends ../layout
block content
    h1=title
    table.table
        thead
            tr
                th Name
                th Price
        tbody
            each product in products
                tr
                    td=product.name
                    td=product.price